**/node_modules
**/dist
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml
**/.vitepress/cache
**/.idea
**/.cache
**/.output
**/.vite-inspect
**/*.md
**/*.min.*
**/auto-import?(s).d.ts
**/components.d.ts
cli
devGuide
internal/mockjs
pages
patches
public
**