@primary-color: #00AFB0;
@body-height: 50px;
// 设置默认字体大小
// @font-size-base: 16px;
// 这里支持框架所有样式变量
// 注意不能添加



/* start----input=== */

@input-bg: #576c84;
@input-color: #fff;

/* end----input=== */


/* 自定义拓展的变量----start */
@theme_headerBg: #1F1F1F;
@theme_backBg: #161616;
/* 自定义拓展的变量----end */