# registry=https://repo.huaweicloud.com/repository/npm/
registry=https://registry.npmmirror.com/
@yh:registry=http://npm1.yinhaiyun.com/repository/npm_yh_hosted_repository/
scripts-prepend-node-path=true
//npm1.yinhaiyun.com/repository/npm_yh_hosted_repository/:_authToken=NpmToken.43060942-0982-3e53-9b86-a05f18cab611
