// @function
.hex-to-rgba($hex, $opacity: 1) {
  @red: red($hex);
  @green: green($hex);
  @blue: blue($hex);

  @rgba: rgba(@red, @green, @blue, $opacity);

  @return: @rgba;
}

// 图片填充布局
.func_bgCover() {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
}