.func_bgCover() {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
}



body {
  .ant-modal {
    .ant-modal-content {
      background-color: @theme_modal_color;
      border-radius: 8px;
      backdrop-filter: blur(6px);
      border: 1px solid @primary-color;
      overflow: hidden;
    }

    .ant-modal-confirm-body {
      .ant-modal-confirm-title {
        color: #fff;
        font-size: 20px;
      }

      .ant-modal-confirm-content {
        color: rgba(255, 255, 255, 0.65);
        font-size: 14px;
      }

    }

    .ant-modal-footer {
      .ant-modal-btns {
        .ant-btn {
          border-radius: 4px;

          &.ant-btn-default {
            background: rgba(0, 175, 176, 0.35);
            border-color: transparent;
          }

          // &.ant-btn-primary {}

        }
      }
    }
  }

  /*  ta-modal ---start */
  .ant-modal {
    &.custom_modal_box {

      background: rgba(2, 31, 31, 0.85);

      box-shadow: inset 0px 0px 20px 12px rgba(24, 151, 151, 0.35);
      border-radius: 8px;
      border: 1px solid @primary-color;
      backdrop-filter: blur(6px);

      .ant-modal-header {
        background-color: transparent;

        &:after {
          content: "";
          display: block;
          width: 99%;
          height: 1px;
          border-bottom: 1px solid rgba(0, 175, 176, 0.35);
          ;
          margin: 20px auto 0;
        }

        .ant-modal-title {
          font-family: PingFangSC, PingFang SC;
          font-weight: 500;
          font-size: 20px;
          color: #B1F7F7;
        }
      }

      .ant-modal-content {
        background-color: transparent;
        // backdrop-filter: blur(6px);
        border: none;

        // overflow: hidden;
        .ant-modal-close-x {
          i {
            background-image: url(@/assets/images/manage/btn/close.png);
            width: 24px;
            height: 24px;
            .func_bgCover();
            position: relative;
            bottom: 6px;
            border-radius: 50%;

            svg {
              visibility: hidden;
            }
          }

        }
      }

      .ant-modal-footer {
        background-color: transparent;
      }


    }







  }
   .ant-tabs {
    &.custom_report_bar {
      .ant-tabs-tab{
        padding: 10px 30px;
        background-color: rgba(24, 151, 151, 0.35);
        border: none;
      }
      .ant-tabs-nav {
        .ant-tabs-tab-active{
          color: white;
          border: none;
          background-color: rgba(8, 233, 233, 0.35);

        }
      }


      .ant-tabs-left-bar {
        border:none;
        .ant-tabs-ink-bar{
          display: none !important;

        }

      }

      .ant-tabs-left-content {
        border: none;

        border-left: none;

      }
    }
    }


  /*  ta-modal ---end */
}
