body {
  .ant-pagination {
    .ant-pagination-item-link {
      background: rgba(255, 255, 255, 0.05);
      border-color: #5F6060;
      border-width: 0.5px;
      border-style: solid;
    }

    .ant-pagination-item-active {
      // background: rgba(255, 255, 255, 0.05);
      background: @primary-color;
      color: #fff;
      border-color: @primary-color;
      border-width: 0.5px;
      border-style: solid;
    }

    .ant-pagination-item {
      background: rgba(255, 255, 255, 0.05);
      border-color: #5F6060;
      border-width: 0.5px;
      border-style: solid;
    }

    .ant-pagination-jump-next {
      background-color: rgba(127, 123, 123, 0.845);
    }

    .ant-pagination-options .ant-pagination-size-changer-input-box .ant-pagination-size-changer-input {
      background-color: rgba(255, 255, 255, 0.05);
    }

    .ant-pagination-options-quick-jumper input {
      background-color: rgba(255, 255, 255, 0.05);
    }


    .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis {
      color: inherit;
    }

    .ant-pagination-disabled .ant-pagination-item-link {
      color: inherit;
    }

  }
}